<!DOCTYPE HTML>
<html layout:decorate="~{layouts/main_layout.html}">
    <head> 
        <title>Home</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link th:href="@{css/style.css}" rel="stylesheet" media="screen" />
    </head>
    <body style="height: auto;">
        <div class="" layout:fragment="main_layout">
            <div id="carouselExampleIndicators" class="carousel slide mb-5" data-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active" data-bs-interval="20000">
                    <img class="d-block w-100" src="images/promo/promo-black-2.jpg" alt="First slide">
                    <div class="carousel-caption carousel-caption-top d-none d-md-block">
                      <h5 class="display-6">Огромный выбор ресторанов быстрого питания</h5>
                      <p class="fs-5 fw-light">Заказывайте все что душе угодно</p>
                    </div>
                  </div>
                  <div class="carousel-item" data-bs-interval="15000">
                    <img class="d-block w-100" src="images/promo/promo-black-3.jpg" alt="Second slide">
                    <div class="carousel-caption carousel-caption-top d-none d-md-block">
                      <h5 class="display-6">Здесь могла быть ваша реклама!</h5>
                      <p class="fs-5 fw-light">(но её нет)</p>
                    </div>
                  </div>
                  <div class="carousel-item" data-bs-interval="15000">
                    <img class="d-block w-100" src="images/promo/promo-black.png" alt="Third slide">
                    <div class="carousel-caption carousel-caption-top d-none d-md-block">
                      <h5 class="display-6">Работайте вместе с нами!</h5>
                      <p class="fs-5 fw-light">Подробнее читайте в нашей статье</p>
                    </div>
                  </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                </a>
            </div>

             
            <!-- Popular Restaurants Scroll List -->
            <div class="container">
              <h3 class="mx-5 fs-3 my-5">Популярное</h3>

              <div class="horizontal-scrollable" id="slider">
                <div class="d-flex flex-row" style="height: auto; width: 100%;">
                    <div th:each= "cafe: ${restaurantsList}" class="cafe-card col-md-3 mx-3 col-sm-10">
                        <div class="cafe-card-img-container">
                          <img th:src="${cafe.imagePath}" class="" alt="img">
                        </div>
                        <div class="cafe-card-title my-4">
                        <a class="link link-main" th:href="@{'/restaurant/' + ${cafe.name}}"><h5 th:text="${cafe.name}"></h5></a>
                        </div>
                    </div>
                  </div>
              </div>
              <!-- Scroll Buttons -->
              <div class="d-flex justify-content-between my-2">
                <button type="button" id="slide-left" class="btn btn-outline-orange">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-left-fill mb-1" viewBox="0 0 16 16">
                    <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
                  </svg>
                </button>
                <button type="button" id="slide-right" class="btn btn-outline-orange">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill mb-1" viewBox="0 0 16 16">
                    <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                  </svg>
                </button>
              </div>
            </div>
            
            <!-- Main Restaurants List -->
            <div class="container">
              <h3 class="mx-5 fs-3 my-5">Рестораны</h3>

              <div class="content-block">
                <div th:each= "cafe: ${restaurantsList}" class="cafe-card col-md-3 col-sm-10">
                    <div class="cafe-card-img-container">
                      <img th:src="${cafe.imagePath}" class="" alt="img">
                    </div>
                  <div class="cafe-card-title my-4">
                    <a class="link link-main" th:href="@{'/restaurant/' + ${cafe.name}}"><h5 th:text="${cafe.name}"></h5></a>
                  </div>
                </div>
              </div>
            </div>
            
        </div>
    </body>
</html>


<script>

const btn_left = document.getElementById("slide-left");
const btn_right = document.getElementById("slide-right");

btn_left.onclick = () => {
  var container = document.getElementById("slider");
  sideScroll(container, "left", 25, 300, 15);
};
btn_right.onclick = () => {
  var container = document.getElementById("slider");
  sideScroll(container, "right", 25, 300, 15);
};

function sideScroll(element, direction, speed, distance, step) {
    scrollAmount = 0;
    var slideTimer = setInterval(function(){
        if(direction == 'left'){
            element.scrollLeft -= step;
        } else {
            element.scrollLeft += step;
        }
        scrollAmount += step;
        if(scrollAmount >= distance){
            window.clearInterval(slideTimer);
        }
    }, speed);
  }

</script>